@import '../../../../styles/_variables.scss';
@import '../../../../styles/_grid.scss';

h1 {
    color: $color-main;
}

.col_1_4 {
    background-color: lightblue;
}
.col_3_4 {
    background-color: lightblue;
}
.col_1_3 {
    background-color: lightgreen;
}
.col_2_3 {
    background-color: lightgreen;
}
.col_1_2 {
    background-color: lightseagreen;
}
.col_1_1 {
    background-color: pink;
}

.col_sm_1_4 {
    background-color: lightsalmon;
}
.col_sm_3_4 {
    background-color: lightsalmon;
}
.col_sm_1_3 {
    background-color: lightsalmon;
}
.col_sm_2_3 {
    background-color: lightsalmon;
}
.col_sm_1_2 {
    background-color: lightsalmon;
}
.col_sm_1_1 {
    background-color: lightsalmon;
}
