<div class="col_wrapper">
  <div class="col_1_4" style=" height: 200px; ">
  </div>
  <div class="col_1_4" style=" height: 200px; ">
  </div>
  <div class="col_1_4" style=" height: 200px; ">
  </div>
  <div class="col_1_4" style=" height: 200px; ">
  </div>
  <div class="clear"></div>
</div>

<div class="col_wrapper">
  <div class="col_1_3" style=" height: 200px; ">
  </div>
  <div class="col_2_3" style=" height: 200px; ">
  </div>
  <div class="clear"></div>
</div>

<div class="col_wrapper">
  <div class="col_1_2" style=" height: 200px; ">
  </div>
  <div class="col_1_2" style=" height: 200px; ">
  </div>
  <div class="clear"></div>
</div>

<div class="col_wrapper">
  <div class="col_1_1" style=" height: 200px; ">
  </div>
  <div class="clear"></div>
</div>

<div class="col_wrapper">
  <div class="col_1_3" style=" min-height: 200px; padding-top: 20px;">
      <div class="col_sm_wrapper">
          <div class="col_sm_1_1" style=" height: 160px">
          </div>
          <div class="clear"></div>
      </div>
  </div>
  <div class="col_2_3" style=" min-height: 200px; padding-top: 20px;">
      <div class="col_sm_wrapper">
          <div class="col_sm_1_2" style=" height: 160px">
          </div>
          <div class="col_sm_1_2" style=" height: 160px">
            </div>
          <div class="clear"></div>
      </div>
  </div>
  <div class="clear"></div>
</div>

<div class="col_wrapper">
  <div class="col_1_2" style=" min-height: 200px; padding-top: 20px;">
      <div class="col_sm_wrapper">
          <div class="col_sm_1_2" style=" height: 160px">
          </div>
          <div class="col_sm_1_2" style=" height: 160px">
            </div>
          <div class="clear"></div>
      </div>
  </div>
  <div class="col_1_2" style=" min-height: 200px; padding-top: 20px;">
      <div class="col_sm_wrapper">
          <div class="col_sm_1_2" style=" height: 160px">
          </div>
          <div class="col_sm_1_2" style=" height: 160px">
            </div>
          <div class="clear"></div>
      </div>
  </div>
  <div class="clear"></div>
</div>