<p>
  sasstest works!
</p>
<h1>yoyo</h1>

<div class="col_wrapper">
  <div class="col_1_4" style=" height: 200px; background-color: red">
  </div>
  <div class="col_1_4" style=" height: 200px; background-color: red">
  </div>
  <div class="col_1_4" style=" height: 200px; background-color: red">
  </div>
  <div class="col_1_4" style=" height: 200px; background-color: red">
  </div>
  <div class="col_1_4" style=" height: 200px; background-color: red">
  </div>
  <div class="col_1_4" style=" height: 200px; background-color: red">
  </div>
  <div style="clear: both"></div>
</div>