<div id="login-form">
    <h1>{{'Auth.Login' | translate}}</h1>
    <div class="form-error">
        <p *ngIf="loginError">{{'Auth.loginError' | translate}}</p> 
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
            <label for="email">{{'Auth.Email' | translate}}</label>
            <input
                [class.form-error]="myForm.get('email').touched && myForm.get('email').invalid"
                type="email"
                id="email"
                
                formControlName="email"
            >
            <div *ngIf="myForm.get('email').touched && myForm.get('email').invalid"
                class="form-error"
            >          
                <p *ngIf="myForm.get('email').errors.pattern">{{'Auth.validEmail' | translate}}</p>    
            </div>  
        </div>
        <div class="form-field">
            <label for="password">{{'Auth.Password' | translate}}</label>
            <input
                [class.form-error]="myForm.get('password').touched && myForm.get('password').invalid"
                type="password"
                id="password"
               
                formControlName="password"
            >
            <div class="form-error">          
                <p *ngIf="myForm.get('password').touched && myForm.get('password').invalid">{{'Auth.required' | translate }} </p>    
            </div>   
        </div>
        <div class="form-field">
          <button
                class=""
                type="submit"
                [disabled]="!myForm.valid">{{'Auth.Login' | translate}}</button>
      </div>
    </form>
    <a [routerLink]="['../signup']">{{'Auth.NoAccountYet' | translate}}</a>
</div>