<div id="mmWrapper" [@menuState]="myMenuState">
  <nav id="main-nav-mobile">
    <ul>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/about">About</a></li>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/projects">Projects</a></li>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/gallery">Gallery</a></li>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/account">Account</a></li>
    </ul>
  </nav> 
</div>
