.form-field {
    margin-bottom: 16px;
}

input {
    width: 100%;
}

.button {
color: #ffffff;
font-size: 20px;
background: #ADD8E6;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.button {
background: #3cb0fd;
text-decoration: none;
}