$color-main: #ADD8E6;
$color-headings: #ADD8E6;
$color-paragraph: #4f4f4f;
$color-hover: #42b9dd;

$form-error-bg: #FFEDF0;
$form-error-p: #ff4f69;
$form-valid-bg: #90EE90;

$grid-margin-sides: 20px;
$grid-margin-bottom: 20px;

$grid-sm-margin-sides: 10px;
$grid-sm-margin-bottom: 10px;

$menu-break: 900px;

$input-border: rgba(0, 0, 0, 0.15);
$input-hover: rgba(173, 216, 230, 0.15);

