@import "~bootstrap/dist/css/bootstrap.css";
@import "_variables.scss";
@import "_grid.scss";
@import "_forms.scss";

$bg-content : #ffffff;

body {
	background: $bg-content !important;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(173, 216, 230, 0.2) 100%)  !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(173, 216, 230,0.2) 100%)  !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(173, 216, 230,0.2) 100%)  !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-attachment: fixed !important;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Quattrocento Sans', sans-serif;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quattrocento', serif;
	color: $color-headings;
}

h1 {
	margin-bottom: 12px;
}

p {
	font-family: 'Quattrocento Sans', sans-serif;
	color: $color-paragraph;
}

.clear {
	clear: both;
	height: 0px;
}

#spinner {
	width: 80px;
	position: fixed;
	left: calc(50vw - 40px);
	top: calc(50vh - 40px);
}
