<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">{{'Auth.FirstName' | translate}}</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">{{'Auth.LastName' | translate}}</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">{{'Auth.Email' | translate}}</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">{{'Auth.Password' | translate}}</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
            <div 
                *ngIf="password.touched && password.invalid"     
                class="alert alert-danger"         
            >      
                <div *ngIf="password.errors.required">password required</div>        
                <div *ngIf="password.errors.minLength">minlength {{password.errors.minLength.requiredLength}}</div>    
            </div>   
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">{{'Auth.SignUp' | translate}}</button>
    </form>
</div>