<div *ngIf="modalService.isOpen" class="rk_overlay">
  <div class="rk_modalBox">
    <div class="rk_modalBox_inner" #domElement>
        parent: {{modalItem.parent}}
        <br>
        type: {{modalItem.type}}
        <br>
        editType: {{modalItem.editType}}
        <br>
        object: {{modalItem.object}}

        
      <div *ngFor="let language of languages" class="languageItem">
        <div class="languageInput">
          <label>{{language | uppercase}}</label>
          <input type="text">
        </div>
      </div>

      <button *ngIf="modalItem.editType == 'create'" (click)="create.emit(getLanguageInputs(domElement))">create</button>
      <button *ngIf="modalItem.editType == 'update'" (click)="update.emit()">update</button>
      <button *ngIf="modalItem.editType == 'update'" (click)="delete.emit()">delete</button>
      <button (click)="closeModalBox()">cancel</button>
    </div>
  </div>
</div>
