.authwidget {
    list-style: none;
    padding-left: 0px;
}

.authwidget li a {
    color: #ffffff;
    padding: 0px;
}

.authwidget li a:hover {
    text-decoration: underline;
    cursor: pointer;
}