@import "../../../../styles/_variables.scss";

.locationSelector {
    max-width: 500px;

    .locations {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
            border: $input-border solid 1px;
            border-top: none;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: $input-hover;
            }
        }
    }
}