#main-nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#main-nav>ul>li {
    box-sizing: border-box;
    height: 40px;
    padding: 0px 0px 0px 0px;
    float: left;
    list-style-type: none;
    list-style: none;
    display: block;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

#main-nav>ul>li:not(.active_menu) {
    border-bottom: rgba(255,255,255,0) solid 2px;
}


#main-nav>ul>li>a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

#main-nav>ul>li:hover {
    border-bottom: rgba(255,255,255,1) solid 2px;
}

.active_menu {
    border-bottom: rgba(255,255,255,1) solid 2px;
}