.wrapper {
    box-sizing: border-box;
    position: relative;
    background-color: lightblue;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
    z-index: 20;
}

#logo {
    margin: 20px 0px 16px 20px;
    width: 400px;
}

app-authwidget {   
    position: absolute;
    top: 20px;
    right: 20px;
}

app-langwidget {
    position: absolute;
    top: 20px;
    right: 100px;
}

@media screen and (max-width: 900px) {
    .wrapper {
        display: none;
    }
}