.thumbnail-wrapper {
    list-style-type: none;
    padding-left: 0px;
    clear: both;
    margin-left: -2px;
    margin-right: -2px;
}

.thumbnail-wrapper>li {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

#addImages {
    width: 200px;
}

#chooseFiles {
    display: none;
}