<div class="wrapper">
  <ul class="thumbnail-wrapper container"
      [dragula]='"first-bag"' 
      [dragulaModel]='images'
  >
    <li *ngFor="let image of images; let i = index">
        <app-upload-image 
            [imgEvent]="image"
            (onDeleteImage)="deleteImage(image)"
        >  
        </app-upload-image>
    </li>
    <div class="clear"></div>
  </ul>
  
</div>

<input  
  id="chooseFiles"
  type='file' 
  accept=".png, .jpg, .jpeg"
  multiple
  (change)="addImages($event)"
>
<button id="addImages" (click)="clickChooseFiles()">{{ 'addImages' | translate}}</button>