.wrapper {
    background-color: lightblue;
    height: 100px;
    position: relative;
}

#mobileMenuTrigger {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
}

#mobileMenuTrigger i {
    font-size: 42px;
    color: #ffffff;
    font-weight: lighter;
}

#closeMobileMenu {
    display: none;
}


@media screen and (min-width: 899px) {
    .wrapper {
        display: none;
    }
}