.wrapper {
    background-color: lightblue;
    height: 80px;
    position: relative;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}

#logoMobile {
    position: absolute;
    left: 20px;
    top: 25px;
    height: 30px;
}

#mobileMenuTrigger {
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}

#mobileMenuTrigger i {
    font-size: 42px;
    color: #ffffff;
}

#closeMobileMenu {
    position: relative;
    top: -10px;
    font-size: 62px !important;
    line-height: 42px;
    font-style: normal;
}

@media screen and (min-width: 899px) {
    .wrapper {
        display: none;
    }
}