<!--
<div id="intro-wrapper">
    <div id="intro-content">
        <h1>"{{ 'page-home.welcome' | translate}}"</h1>
    </div>
    <div id="intro-image">
        <img src="assets/images/reto-kuepfer.jpg">
    </div>
</div>
-->
<h2>{{ 'page-home.h2-technologies' | translate}}</h2>
<div class="col_wrapper" id="techLogos">
    <div class="col_1_6 techLogo"
        *ngFor="let logo of logos"
    >
        <img src="{{logo.src}}">
    </div>   
    <div class="clear"></div>
</div>

<h2>{{ 'page-home.h2-progress' | translate}}</h2>
<div class="col_wrapper" id="progress">
    <div class="col_1_4 todo {{todo.status}}"
        *ngFor="let todo of todos"
    >
        <i class="fa fa-square-o" aria-hidden="true"></i> 
        <i class="fa fa-check-square-o" aria-hidden="true"></i>   
        {{ 'page-home.todos.'+todo.name | translate}}
    </div>  
    <div class="clear"></div>
</div>