<div id="mmWrapper" [@menuState]="myMenuState">
  <nav id="main-nav-mobile">
    <ul>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active_menu">
        <a routerLink="{{menuItem.path}}" (click)="closeMenu()">{{ menuItem.i18n | translate}}</a>
      </li>
      <!--
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/grid">{{ 'Mainmenu.Grid' | translate}}</a></li>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/projects">{{ 'Mainmenu.Projects' | translate}}</a></li>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/gallery">{{ 'Mainmenu.Gallery' | translate}}</a></li>
      <li routerLinkActive="active_menu"><a (click)="closeMenu()" routerLink="/account">{{ 'Mainmenu.Account' | translate}}</a></li>
      -->
    </ul>
  </nav> 
  <app-authwidget></app-authwidget>  
  <app-langwidget></app-langwidget>
</div>
<div  id="closeMenuTrigger"
      (click)="triggerMobileMenu()"
> 
  <i  *ngIf="this.mmService.isOpen" 
      id="closeMobileMenu" 
      class="fa fa-times " 
      aria-hidden="true" aria-hidden="true">
  </i>
</div>